<div class="login_wrap">
	<div class="login_left_wrap">
		<div class="contents">
		</div>
	</div>
	<div class="login_right_wrap">
		<div class="login_area">
			<div class="login_input">
				<h2>로그인</h2>
				<div class="login_input_area">
					<div class="form-group">
						<input type="text" class="id_ico" name="userName" placeholder="ID" v-model="user.p" @keyup.enter="login">
					</div>
					<div class="form-group">
						<input type="password" class="pw_ico" name="userPasswd" placeholder="password" v-model="user.c" @keyup.enter="login">
					</div>
				</div>
				<div class="login_wrap">
					<a href="#" class="bt-login" title="" @click.prevent="login">LOGIN</a>
					<a href="#" class="bt-login" title="" @click.prevent="signup">SIGN UP</a>
				</div>
				<p class="tip">본 시스템은 익스플로러 11이상 또는 크롬을 권장합니다.</p>
			</div>
		</div>
	</div>
</div>