.multi-line-css { white-space: pre; }
.yellow-column { background: yellow; }



.memnu_row_00 { background-color: #127cdf; color: #f0ffff;}
.memnu_row_01 { background-color: #6bb3cf;}
.memnu_row_02 { background-color: #4adfcb;}
